@font-face {
  font-family: "Cyrodiil";
  src: url("./fonts/Cyrodiil.otf");
  font-style: normal;
}

@font-face {
  font-family: "CyrodiilBold";
  src: url("./fonts/Cyrodiil\ Bold.otf");
  font-style: normal;
}

:root {
  font-family: "Cyrodiil";
  --primary: #030303;
  --text: #bebcbb;
  --secondary: #898a87;
  --accent: #fefdff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  background-color: var(--primary);
  color: var(--text);
  margin: 0;
}

.background-container {
  background-image: url("./images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(25%);
}

nav {
  display: flex;
  gap: 8px;
}

button {
  box-shadow: none;
  padding: 8px 16px;
  font-family: "CyrodiilBold";
  font-size: 24px;
  background-color: inherit;
  color: inherit;
  border: 2px solid var(--secondary);
}

button:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--primary);
  border: 2px solid var(--secondary);
}

p {
  font-size: 24px;
}

#content {
  width: 100%;
}

.home-container,
.menu-container,
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 32px 32px;
}

.home-container > img {
  max-width: min(80%, 800px);
}

.image-border {
  border: 2px solid var(--secondary);
}

.about-image {
  max-width: min(90%, 500px);
  height: auto;
}

.about-div {
  width: min(100%, 700px);
}

.active {
  background-color: var(--accent);
  color: var(--primary);
  border: 2px solid var(--secondary);
}

.menu-hr {
  width: min(50%, 300px);
  margin-top: -16px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: baseline;
  justify-content: center;
  padding: 64px;
  max-width: 300px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-title {
  font-family: "CyrodiilBold";
}

.menu-item-image {
  max-width: 250px;
}

@media only screen and (min-width: 992px) {
  .menu-section {
    flex-direction: row;
  }
}
